@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.container {
  min-width: 430px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  padding: 23px 28px 0 29px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Inter", sans-serif;
}
.input-div {
  display: flex;
  gap: 10px;
}
.note {
  width: 275px;
  height: 49px;
  border-radius: 5px;
  background: #ebeff2;
  font-size: 20px;
}
.add {
  border-radius: 5px;
  background: #20eeb0;
  width: 88px;
  height: 49px;
}
.inp-value {
  font-size: 20px;
}
.list {
  min-width: 373px;
  background-color: aquamarine;
  display: flex;
  height: 44px;
  justify-content: space-between;
}
.chkb-delete {
  display: flex;
}
.time {
  height: 44px;
}
.time-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.delete-icon {
  width: 24px;
}
.day-time {
  display: flex;
  gap: 8px;
}
